<!DOCTYPE html>
<html>
<head>
  <title>Active canvas</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <% if ActiveCanvas::Setting.css_framework_url.present? %>
    <% if ActiveCanvas::Setting.css_framework_type == :script %>
      <script src="<%= ActiveCanvas::Setting.css_framework_url %>"></script>
    <% else %>
      <link rel="stylesheet" href="<%= ActiveCanvas::Setting.css_framework_url %>">
    <% end %>
  <% end %>

  <%= stylesheet_link_tag "active_canvas/application", media: "all" %>

  <% if ActiveCanvas::Setting.global_css.present? %>
    <style><%= ActiveCanvas::Setting.global_css.html_safe %></style>
  <% end %>
</head>
<body>

<%= yield %>

<% if ActiveCanvas::Setting.global_js.present? %>
  <script><%= ActiveCanvas::Setting.global_js.html_safe %></script>
<% end %>
</body>
</html>
